<section class="cabecalho">
    <div class="descricao-container">
        <h1 class="nome">Pedro Henrique S. de Almeida</h1>
        <p class="funcao">FULLSTACK <em> OVERFLOW</em></p>
    </div>
    <div class="listas">
        <nav class="social-icons">
            <ul class="social-icons_UL">
                <li>
                    <a href="https://instagram.com/pedro.realofficial" target="_blank" class="icon __instagram"> </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/pedro-almeida-837135144/" target="_blank" class="icon __linkedin"> </a>
                </li>
                <li>
                    <a href="https://github.com/Brownlius/Brownlius" target="_blank" class="icon __github"> </a>
                </li>
            </ul>
        </nav>
        <nav class="navegacao-sites">
            <ul class="navegacao-sites_UL">
                <li><a href="./index.html">Início
                <li></a>
                <li><a href="./curriculo/index.html">Currículo
                <li></a>
            </ul>
        </nav>
    </div>
</section>