.cabecalho {
   width: 100vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(18, 28, 41);
   color: aliceblue;
   border-bottom: 4px solid aliceblue;
}

.descricao-container {
   text-align: center;
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   padding: 20px;
   line-height: 3rem;
}

.funcao {
   font-family: 'Mirc-font';
   text-align: center;
   font-size: 2.5rem;
}

.funcao em {
   color: var(--verde);
}

.listas {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 20%;
}

.ul {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: nowrap;
   padding: 10px 0;
}

.icon a {
   display: flex;
   width: 100%;
   justify-content: center;
}

.icon img {
   width: 30%;
   animation: rede-sociais 3s linear infinite;
}

.sites_links li {
   font-size: 2.5rem;
   font-family: 'Mirc-font';
   padding: 10px;
   color: var(--azul_claro);
}



@keyframes rede-sociais {
   from {
      transform: scale(1.01) rotate(2deg);
   }

   50% {
      transform: scale(0.95) rotate(1.5deg);
   }

   75% {
      transform: scale(0.92) rotate(-1deg);
   }

   to {
      transform: scale(1) rotate(2deg);
   }
}