<header class="cabecalho">
    <div class="descricao-container">
        <h1 class="nome">Pedro Henrique S. de Almeida</h1>
        <p class="funcao">FULLSTACK <em> OVERFLOW</em></p>
    </div>
    <div class="listas">
        <nav class="social_icons_nav">
            <ul class="social_icons ul">
                <li class="icon __instagram">
                    <a href="https://instagram.com/pedro.realofficial" target="_blank">
                        <img src="../../../assets/images/redes_sociais/instagram_icon.png">
                    </a>
                </li>
                <li class="icon __linkedin">
                    <a href="https://www.linkedin.com/in/pedro-almeida-837135144/" target="_blank">
                        <img src="../../../assets/images/redes_sociais/linkedin_icon.png">
                    </a>
                </li>
                <li class="icon __github">
                    <a href="https://github.com/Brownlius/Brownlius" target="_blank">
                        <img src="../../../assets/images/redes_sociais/github_icon.png">
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="navegacao_sites_nav">
            <ul class="sites_links ul">
                <li routerLink="/home">Início</li>
                <li><a routerLink="/curriculum">Currículo</a></li>
            </ul>
        </nav>
    </div>
</header>