<section>   
    <section class="container-main">
        <section id="containers" class="ola_mundo-container">
            <h2 class="saudacao-main"> Olá, Mundo!</h2>
        </section>
        <section id="containers" class="sobre_mim-container">
            <h2 class="subtitulo-azul">Sobre Mim</h2>
            <p class="texto">Meu nome é Pedro Henrique S. de Almeida, tenho 21 anos e sou apaixonado em criar !
                Eu Estou no 2º semestre de TADS na INSTED e estagio na Infortech.<br>
                Estou aprendendo e descobrindo as minhas vocações e onde me encaixo no mercado.<br>
                Estou sempre desenvolvendo e criando. Misturo sempre técnicas de ilustração com o desenvolvimento.
            </p>
        </section>
        <section id="containers" class="skills-container">
            <h2 class="subtitulo-azul">Skills</h2>
            <h2 class="subtitulo">Proficiências</h2>
            <div id="containers-inner" class="container-graficos">
                <ul class="lista-graficos">
                    <li><img id="grafico" class="html" src="./src/images/html.png"></li>
                    <li><img id="grafico" class="css" src="./src/images/css.png"></li>
                    <li><img id="grafico" class="illustrator" src="./src/images/illustrator.png"></li>
                    <li><img id="grafico" class="CMoreMore" src="./src/images/CMoremore-icon.png"></li>
                    <li><img id="grafico" class="CSharp" src="./src/images/CSharp-icon.png"></li>
                    <li><img id="grafico" class="js" src="./src/images/js.png"></li>
                </ul>
            </div>
        </section>
        <section id="containers" class="container-exp">
            <h2 class="subtitulo-azul">Qualificações</h2>

            <div class="containers-prof_edu">
                <div id="containers-inner" class="container-qualificacoes">
                    <h2 class="subtitulo">Profissional</h2>
                    <div>
                        <h3 class="cargo">Aux. Administrativo - Netway</h3>
                        <h4 class="periodo">Jul 2017 - Jan 2019</h4>
                        <p class="descricao_trabalho">Desenvolver o trabalho de coordenar equipes técnicas para
                            campo.<br>
                            Organizar base de dados de clientes.<br>
                            Responsável por organizar e realizar manutenção do sistema de cobrança e fornecimento de
                            internet.
                        </p>
                    </div>
                    <div>
                        <h3 class="cargo">Atendente Telemarketing - Tahto</h3>
                        <h4 class="periodo">Ago 2020 - Ago 2021</h4>
                        <p class="descricao_trabalho">Atendimento direto ao cliente na equipe de consultoria.<br>
                            Realizar planilhas para calculos de Renda Variável.<br>
                            Desevolvimento de dashboards para apresentação de resultados de equipe.
                        </p>
                    </div>
                    <div>
                        <h3 class="cargo">Monitor de diagnóstico - Tahto</h3>
                        <h4 class="periodo">Set 2021 - Março 2022</h4>
                        <p class="descricao_trabalho">Realizar acompanhamento de funcionarios analisando resultados
                            e metas,
                            agindo para garantir a qualidade do serviço.<br>
                            Desenvolvimento de análise do Oi Conecta, a fim de realizar melhorias.
                        </p>
                    </div>
                    <div>
                        <h3 class="cargo">Estagiário em Desenvolvimento de software - Infortech</h3>
                        <h4 class="periodo">Abr 2022 - Atualmente</h4>
                        <p class="descricao_trabalho">Acompanhando desenvedores C#.<br>
                            Realizando diversos cursos para para desenvolvimento pessoal e profissional.
                        </p>
                    </div>
                </div>
                <div id="containers-inner" class="container-qualificacoes">
                    <h2 class="subtitulo">Educacional</h2>
                    <div>
                        <h3 class="cargo">TADS - INSTED</h3>
                        <h4 class="periodo">Fev 2022 - Dez 2024</h4>
                        <p class="descricao_trabalho">Faculdade de Tecnologia e Análise de Desenvolvimento de
                            Sistemas.</p>
                    </div>
                    <div>
                        <h3 class="cargo">Iniciante em programação - Alura</h3>
                        <h4 class="periodo">abril 2022 - Mai 2022</h4>
                        <p class="descricao_trabalho">O entrando no universo da
                            programação. Começando com a criação de sites utilizando as linguagens populares CSS,
                            HTML e JavaScript.
                        </p>
                    </div>
                    <div>
                        <h3 class="cargo">Formação Linguagem C++ - Alura</h3>
                        <h4 class="periodo">Maio 2021 - jun 2022</h4>
                        <p class="descricao_trabalho">Aprendi a programar em C++, com o paradigma da orientação a
                            objetos
                            e dominando recursos essenciais de uma das principais linguagens no mercado.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>